Source: turnkey-version
Section: misc
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends:
 debhelper-compat (= 13),
 python3 (>= 3.13),
 dh-python,
 pybuild-plugin-pyproject,
Standards-Version: 4.7.2
X-Python-Version: >= 3.13

Package: turnkey-version
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 turnkey-netinfo,
Description: Displays TurnKey GNU/Linux version information
 This package also provides the turnkey sysversion python library,
 used by MOTD to display system info at login.
